<%= provide(:body_id, 'index') %>
<%= provide(:result, '网站命中率查看') %>

<div class="container-fluid content-wrapper">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <button type="button" class="close hidden-phone" data-dismiss="alert">&times;</button>
        <h1>网站命中率报表查看</h1>
        <p>
          本系统报表可以按次、日、周进行报表查看，可以指定日期进行下载相关报表，报表评估数据根据相关评分标准生成。
          如修改了相应的评分标准，不影响已生成的报表数据，只对往后的报表数据有影响，如对结果有异议，可申请核对。
        </p>
        <br/>
        <p class="hidden-phone">
          <a class="btn btn-info btn-large pull-right">详细指南请猛击此处 &raquo;...</a>
        </p>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-info btn-large">次报表</a>
  <a href="web_hit_rate/time_r" class="btn btn-danger btn-large">次报表(网页版)</a>
  <a href="web_hit_rate/select_day_report" class="btn btn-info btn-large">日报表</a>
  <a href="web_hit_rate/select_month_report" class="btn btn-info btn-large">月报表</a>

  <p></p>

  <div class="row-fluid">
    <div class="span12">
      <h4 class="title">名言警句</h4>

      <div class="squiggly-border"></div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <blockquote>
        <p>
          Etiam varius erat in nisl egestas id auctor lacus consectetur.
          Ut dui risus, auctor a malesuada volutpat, tempus sit amet arcu.
        </p>
        <small class="pull-right">Jane Doe via Mobile</small>
      </blockquote>
    </div>
  </div>
</div>






