<div class="row-fluid">
  <div class="span12">&nbsp;</div>
</div>

<div class="row-fluid hidden-phone hidden-tablet">
  <div class="span12 top-stats">
    <ul class="top-nav-boxes">
      <% if user_level >= 3 %>
          <li>
            <a href="/rdata">
              <i class="radmin-drawer-2"></i>
              <span>查询负分原始记录</span>
            </a>
          </li>
      <% end %>
      <li>
        <a href="/workorders">
          <i class="radmin-clipboard-2"></i>
          <span>工单查看</span>
        </a>
      </li>
      <li>
        <a href="/reports">
          <i class="radmin-stats-up"></i>
          <span>测试评分报表</span>
        </a>
      </li>
      <% if user_level >= 3 %>
          <li>
            <a href="/reports/export_rep">
              <i class="radmin-dashboard"></i>
              <span>出口得分排名</span>
            </a>
          </li>
          <li>
            <a href="/reports/locale_ranking">
              <i class="radmin-bookmark"></i>
              <span>查看归属地</span>
            </a>
          </li>
          <li>
            <a href="/reports/website_select">
              <i class="radmin-dribbble"></i>
              <span>网站得分排名</span>
            </a>
          </li>
          <li id="color-switcher-control">
            <a href="/whr">
              <i class="radmin-target-2"></i>
              <span>网站命中率</span>
            </a>
          </li>
      <% end %>
      <li>
        <a href="/login/logout">
          <i class="radmin-exit"></i>
          <span>安全退出</span>
        </a>
      </li>
    </ul>
  </div>
</div>